$secondary: rgba(16, 16, 20);

.progress {
  position: fixed !important;
  top: auto !important;
  transform: none !important;
  bottom: 65px;
  left: 50% !important;

  > div {
    position: relative;
  }

  &__text {
    position: absolute;
    top: -12px;
    left: -15px;
    width: 75px;
    fill: var(--white);
  }

  &__content {
    position: relative;
    z-index: 2;

    pointer-events: none;
    background-color: $secondary;
    border-radius: 50%;
    height: 50px;
    width: 50px;

    &:after {
      content: "";
      background-color: var(--orange);
      border-radius: 50%;
      display: inline-block;
      height: 100%;
      width: 100%;
      clip-path: conic-gradient(
        $secondary 0% 50%,
        transparent 0% 50%,
        transparent 50% 100%,
        $secondary 50% 100%
      );
    }

    &:before {
      content: "";
      position: absolute;
      top: 5px;
      left: 5px;
      background: $secondary;
      width: calc(100% - 10px);
      height: calc(100% - 10px);
      border-radius: inherit;
    }

    @for $i from 0 to 100 {
      &[data-progress="#{$i}"]:after {
        background-image: conic-gradient(
          $secondary 0deg,
          var(--orange) 0deg,
          var(--orange) #{$i * 4 + 2}deg,
          $secondary 0deg
        );
      }
    }
  }
}
